@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "ag-grid-community/styles/ag-theme-material.css";

:root {
  --primary: white;
  --dark-background: #242582;
  --light-background: #4f4fa4;
  --secondary: #f12050;
}

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--light-background);
}

