:root {
  --primary: white;
  --dark-background: #242582;
  --light-background: #4f4fa4;
  --secondary: #F64C72;
}

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--light-background);
}

